* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

main {
  flex: 1;
  padding: 20px;
}

h1 {
    color: rgb(81, 41, 167);
    text-align: center;
    font-size: 2.5rem;
}

p {
    text-align: center;
    font-size: 1.3rem;
    justify-self: center;
    width: 700px;
    margin-top: 50px;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
}



